<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Register</title>

  <style>
    .error {
      color: darkred;
    }
  </style>
</head>
<body>

<h2>Register</h2>

<form th:action="@{/register}" th:object="${userRegistration}" method="post">
  <div>
    <label>Username:</label>
    <label>
      <input type="text" name="username" required th:field="*{username}" />
    </label>
  </div>

  <div>
    <label>Email:</label>
    <label>
      <input type="email" name="email" required th:field="*{email}"/>
    </label>
  </div>

  <div>
    <label>Password:</label>
    <label>
      <input type="password" name="password" required th:field="*{password}"/>
    </label>
  </div>

  <div>
    <label>Confirm Password:</label>
    <label>
      <input type="password" name="confirmPassword" th:field="*{confirmPassword}" required />
    </label>
    <div th:if="${#fields.hasErrors('confirmPassword')}">
      <p class="error" th:errors="*{confirmPassword}"></p>
    </div>
  </div>

  <div>
    <button type="submit">Register</button>
  </div>
</form>


<p>
  Already have an account?
  <a th:href="@{/login}">Login</a>
</p>

</body>
</html>
